html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.main-wrapper {
  font-family: "Georgia";
  max-width: 800px;
  margin: 0 auto;
  padding-top: 90px;
}

#p5-canvas-container {
  position: relative;
  width: 100%;
}

#main-container {
  width: 100%;
  min-height: 100vh;
  left: 0px;
  top: 0px;
}

h1 {
  text-align: center;
  font-size: clamp(24px, 4vw, 36px);
  position: relative;
}